<!doctype html>
<html lang="##Language##">
<head>
<meta charset="UTF-8">
<title>##RegistrationNumber## - ##LANG_ExamResults##</title>

<link rel="stylesheet" href="/default.css">

</head>

<body>
<header>
    <h1>##LANG_ExamResults##</h1>
</header>

<nav>
  <ul>
    <li><a href="##Previous##">Previous</a></li>
    <li><a href="##Next##">Next</a></li>
  </ul>
</nav>

<section>

<div id="Data">
<div id="ExamResults">
  <h3>##LANG_ExamResults##</h3>
  <table>
  <tr>
    <td>##LANG_Name##:</td><td>##Name##</td>
  </tr>
  <tr>
    <td>##LANG_RegistrationNumber##:</td><td>##RegistrationNumber##</td>
  </tr>
  <tr>
    <td>##LANG_DocumentID##:</td><td>##ExamID##</td>
  </tr>
  ##Mark?##
  <tr>
    <td>##LANG_Points##:</td><td>##Points##</td>
  </tr>
  </table>
</div>

<div id="Evaluation">
  <h3>##LANG_Evaluation##</h3>
  <table id = "evaluation">
  <tr valign="top" bgcolor="#FFFFFF"><td align="right">##LANG_Question##</td><td align="right">##LANG_Points##</td><td>##LANG_GivenAnswer##</td><td>##LANG_CorrectAnswer##</td></tr>

  ##Results##
  </table>
</div>
</div>

<div id="ExamSheet">
  <h3>##LANG_ExamSheet##</h3>

  ##Image1##
  ##Image2?##

</div>
</section>

</body>
</html>
